#datatables_length{
    margin-bottom: 20px;
}

#datatables_length select{
    padding-right: 20px;
    background-position: right center;
    background-size: 23px;
    border-radius: 0.75em;
    border-color: rgb(209 213 219);
    border-width: 0.125em;
}

#datatables_length select:focus{
    border-color: rgb(255 159 159);
}

#datatables_filter{
    margin-bottom: 20px;
}

#datatables_filter input{
    border-radius: 0.75em;
    border-color: rgb(209 213 219);
    border-width: 0.125em;
    outline: none;
    width: -webkit-fill-available;
}

#datatables_filter input:focus{
    border-color: rgb(255 159 159);
}

#datatables_paginate .paginate_button{
    border-radius: 0.75em;
}

#datatables_paginate .current{
    background-color: rgb(255 159 159);
    color: white !important;
}

@media (min-width: 640px){
    #datatables_filter input{
        width: fit-content;
    }
}
/* 
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 30px;
    box-shadow: inset 0 0 5px grey;
    background-color: rgb(147 51 234);
}

::-webkit-scrollbar-thumb {
    background: #FFBF00;
    border-radius: 10px;
} */